<div class="wrapper">
  <div class="page">
    <div class="upper-container">
      <div class="inner-container" *ngIf="blogModel">
        <div class="leftPnl">
          <div class="heading main-heading">Post Detail</div>
          <img
            [src]="blogModel?.image"
            [alt]="blogModel?.title"
            class="img-container bg-image"
          />
        </div>
        <div class="rightPnl">
          <div class="main-heading-text">
            <p>
              {{ blogModel?.title }}
            </p>
          </div>
          <div class="blog-info">
            <span class="author">
              {{ blogModel?.author?.name }}
            </span>
            <span class="creation-date">{{ blogModel?.date | dateAge }}</span>
          </div>
          <div class="content" [innerHtml]="blogModel?.desc"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="lower-pnl">
    <div
      class="main-content"
      #mainContent
      [innerHtml]="blogModel?.content"
    ></div>
    <div class="share-pnl">
      <div
        class="arrow-container"
        fxLayoutAlign="center center"
        [routerLink]="['/', 'posts']"
      >
        <div class="arrow"></div>
      </div>
    </div>
    <div class="comment-pnl">
      <div class="comment-heading">Comments</div>
      <ng-container
        [ngTemplateOutlet]="commentRef"
        [ngTemplateOutletContext]="{ comments: comments }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="addReply"
        [ngTemplateOutletContext]="{ comments: comments }"
      ></ng-container>
    </div>
    <div class="loadmore">
      <a (click)="loadMore()">Load More...</a>
    </div>
  </div>
</div>

<ng-template #addReply let-comments="comments" let-parent="parentComment">
  <div class="comment-reply">
    <textarea
      name="comment"
      cols="30"
      rows="10"
      #txtArea
      placeholder="Write Here"
    ></textarea>
    <button (click)="addComment(txtArea, parent, comments)">Add Reply</button>
  </div>
</ng-template>

<ng-template #commentRef let-commentsList="comments">
  <ng-container *ngIf="commentsList?.length">
    <div class="comment-thread">
      <ng-container *ngFor="let comment of commentsList">
        <div class="comment">
          <div class="img-content">
            <img [src]="comment?.author?.avatar" alt="" />
            <div class="right-content">
              <div class="comment-cont">{{ comment?.content }}</div>
              <ng-container *ngIf="faker?.currentUser$ | async">
                <div class="action">
                  <a *ngIf="!comment?.reply">
                    <span
                      (click)="comment.reply = !comment.reply"
                      style="cursor: pointer"
                      >Reply
                    </span>
                  </a>
                  <span>
                    <i
                      class="fa fa-thumbs-up fa-2x like"
                      aria-hidden="true"
                      animation="pulse"
                      (click)="comment.likeCount = comment?.likeCount + 1"
                    ></i>
                    {{ comment?.likeCount }}
                  </span>
                  <span>
                    <i
                      class="fa fa-thumbs-down fa-2x dislike"
                      aria-hidden="true"
                      animation="pulse"
                      (click)="comment.dislikeCount = comment?.dislikeCount + 1"
                    ></i>
                    {{ comment?.dislikeCount }}
                  </span>
                </div>
              </ng-container>
              <ng-container *ngIf="!(faker?.currentUser$ | async)">
                <a (click)="faker.loginAndBack()" title="Sign In to reply">
                  <i class="fa fa-2x fa-sign-in" aria-hidden="true"></i>
                </a>
              </ng-container>

              <ng-container
                *ngIf="comment?.reply"
                [ngTemplateOutlet]="addReply"
                [ngTemplateOutletContext]="{
                  comments: comment.threads,
                  parentComment: comment
                }"
              ></ng-container>
            </div>
          </div>
          <div class="stroke"></div>
          <div class="comment-info">
            <span class="posted-by"
              >Posted by:&nbsp;{{ comment?.author?.name }}</span
            >
            <span class="date">{{ comment?.date | dateAge }}</span>
          </div>
          <ng-container
            *ngIf="comment?.threads?.length"
            [ngTemplateOutlet]="commentRef"
            [ngTemplateOutletContext]="{ comments: comment?.threads }"
          ></ng-container>
        </div>
      </ng-container>
    </div>
  </ng-container>
</ng-template>
