header {
  text-decoration: dashed;
  font-weight: bolder;
  color: darkgreen;
  position: sticky;
  z-index: 100;
  background-color: white;
  top: 0;
  box-shadow: 0px 0px 6px lightgrey;
  line-height: 2;
  width: calc(100% + 48px);
  margin-left: -24px;
  a:first-child{
   background-color: #ff9800;
   padding: 5px 10px;
   border-radius: 5px;
   margin: 5px;
   box-sizing: border-box;
   color: white;
  }
  a:not(:first-child){
    padding-left: 2em;

  }
  .pipe{
    margin: 0 0.5em;
    color: darkgoldenrod;
  }
  .logout{
    position: absolute;
    right: 8px;
  }
}


footer {
     padding-top: 24px;
     margin-top: 16px;
     display: flex;
     align-items: center;
     justify-content: center;
     line-height: 20px;
     border-top: 0.5px solid;
}

footer a {
  display: flex;
  align-items: center;
}
i.fa{
  cursor: pointer;
}


.wrapper {
  min-height: 100%;
  &.nodata {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 85vh;
  }

  .content-body{
    min-height: 85vh;
  }
}

