<header>
  D
  <ng-container *ngIf="fakerDs?.currentUser$ | async">
    <span class="pipe">|</span>
    <span>Name: {{ (fakerDs?.currentUser$ | async)?.name }}</span>
    <span class="pipe">|</span>
    <span>Name: {{ (fakerDs?.currentUser$ | async)?.email }}</span>
    <i
      class="fa fa-2x fa-sign-out logout"
      aria-hidden="true"
      (click)="logout()"
      title="Sign Out"
    ></i>
  </ng-container>
  <ng-container *ngIf="!(fakerDs?.currentUser$ | async)">
    <a (click)="fakerDs.loginAndBack()" title="Sign In">
      <i class="fa fa-2x fa-sign-in logout" aria-hidden="true"></i>
    </a>
  </ng-container>
</header>
<router-outlet></router-outlet>
<footer></footer>
