$height: 100%;
$width: 100%;
$MAX_WIDTH: 1800px;
$background-color: white;
$opacity: 1;
$font-size: 12px;
$font-weight: initial;
$font-color: #292728;
$line-spacing:inherit;
$letter-spacing: 100;
$backrgound-position: 'center center';
$header-color: #223554 ;
$footer-color: #1B468A;
$dark-bg: #233444;
$heading-color: #1b468A;
$header_height: 120px;
$feature-tile: #eff0f4;
$background-fill: #fbfbfb;
$header-text-color: #414042;
$request-demo: #F4B11C;
$read_more: #f3b11c;
$one_column_width: 8.33vw;
$half_width: 4.16vw;
$quarter_width: 2.08vw;
$footer-text-color: #D2D3D4;
$copyright-color: #929497;
$read-more-omni:#F59F00;
$header-omni:#003779;
$tile-title-omni:#313133;
$category-even-child-omni:#FFF8EE;
$side-menu-text-color: #808285;
$desc-color-omni:#818080;
$banner-links-color: #922265;
$store-desc-text: #818080;
$fill-bg: #ffffff;
$fill-bg-2: #F6EFF2;
$contact-bg: #6e7073;
$contact-text: #F69F00;
$left-pnl-request:#f0f0f6;
$right-pnl-request:#ccdde7;
$input-field-request:#dde9ef;
$input-font-color:#a7b3ba;
$btn-field-request:#f4b11c;
$contact-white : #C3C7DC;
$input-bg: #2F4D89;
$common_upperContainer_height: calc(100vh - 142px);
$error : #f44336;
$success: #39b54a ;
$processing: #f9cd7b;
//ecom solutions
$bnnr-bg-1: #ecedf5;
$bnnr-bg-2: #932366;
$bnnr-link: #f69f00;
$bg_gradient: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4), black);
$bg_hover_gradient: rgba(0, 0, 0, 0.8);


//design-templates
$temp-hover: #3e7c94;
//blog
$blog-font-color:#fff;
$blog-stroke:#f4b11c;
$blog-comment:#58595b;


