
$background-color: white;
$font-size: 12px;
$font-weight: initial;
$font-color: #292728;
$line-spacing:inherit;
$letter-spacing: 100;
$backrgound-position: 'center center';
$background-fill: #fbfbfb;
$request-demo: #F4B11C;
$read_more: #f3b11c;
$half_width: 4.16vw;
$quarter_width: 2.08vw;
$footer-text-color: #D2D3D4;
$copyright-color: #929497;
$read-more-omni:#F59F00;
$fill-bg: #ffffff;
$fill-bg-2: #F6EFF2;
$input-field-request:#dde9ef;
$input-font-color:#a7b3ba;
$error : #f44336;
$input-bg: #2F4D89;


$bg_gradient: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4), black);
$bg_hover_gradient: rgba(0, 0, 0, 0.8);


//design-templates
$temp-hover: #3e7c94;
//blog
$blog-font-color:#fff;
$blog-stroke:#f4b11c;
$blog-comment:#58595b;


