<div class="wrapper">
  <ng-container *ngIf="fakeData?.currentUser$ | async">
    <button class="create" (click)="createNewPost()">Create New Post</button>
  </ng-container>
  <ng-container *ngIf="!(fakeData?.currentUser$ | async)">
    <a (click)="fakeData.loginAndBack()" title="Sign In">
      <i class="fa fa-2x fa-sign-in logout" aria-hidden="true"></i>
    </a>
  </ng-container>

  <div class="card-container" #subContent>
    <div *ngFor="let post of posts" [id]="post?.id" class="tile-wrapper card">
      <img class="tile" [src]="post?.image" [alt]="post?.title" />
      <div class="tile-layer">
        <div class="upper-pnl"></div>
        <div class="lower-pnl">
          <div class="content">
            <a
              rel="noopener"
              [routerLink]="['./', post?.id]"
              class="title"
              [innerHtml]="post?.title"
            ></a>
            <div class="hover-container">
              <div class="info">
                <span>{{ post?.author?.name }}</span>
                <span>{{ post?.date | dateAge }}</span>
              </div>
              <div class="cont" [innerHtml]="post?.desc"></div>
              <a rel="noopener" [routerLink]="['./', post?.id]" class="readmore"
                >Read More</a
              >
            </div>
            <div class="line-border"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="loadmore">
    <a (click)="loadMore()">Load More...</a>
  </div>
</div>
